SECRET_KEY=your_secret_key
DEBUG=True/False
DATABASE_NAME=your_database_name
DATABASE_USER=your_database_user
DATABASE_PASSWORD=your_database_password
DATABASE_HOST=your_database_host
DATABASE_PORT=your_database_port
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_STORAGE_BUCKET_NAME=your_aws_storage_bucket_name
AWS_S3_SIGNATURE_VERSION=s3v4
AWS_S3_REGION_NAME=your_aws_s3_region_name
AWS_S3_FILE_OVERWRITE=False
AWS_S3_VERIFY=True
EMAIL_HOST=your_email_host
EMAIL_HOST_USER=your_email_host_user
EMAIL_HOST_PASSWORD=your_email_host_password
EMAIL_PORT=your_email_port
